.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: 80vh; /* Takes up full height */
    overflow: hidden;
    box-sizing: border-box;
  }
  