.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px 10px;
  box-sizing: border-box;
  /* background-color: blanchedalmond; */
}   
.subjectTitle{
  font-size: 17px;
  font-weight: 800;
  color: #223687;
 
}
.DropDownMenu{
  width: 100%;
  height: 30px;
  padding: 20px;
  margin-bottom: 30px;
  /* background-color: blueviolet; */
}

.StudentsCardContainer{
  width: 100%;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* ✅ 允許自動換行 */
  gap: 10px;
  justify-content: start;
  align-items: center;
  /* background-color: aquamarine; */
}