.processNode {
  background-color: #28a745; /* 流程符號顏色 */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* 修改為平行四邊形 */
  clip-path: polygon(15% -10%, 100% -10%, 85% 100%, 0% 110%);
  width: 120px; /* 可根據需要調整 */
  height: 60px; /* 可根據需要調整 */
}

.label {
  color: white;
  font-size: 14px;
}

.input {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px;
}