.container {
  display: flex;
  height: 100vh; /* 全螢幕高度 */
  overflow: hidden; /* 隱藏橫向滾動條 */
}

.sidebar {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* 平滑滑動效果 */
  width: 50px; /* 固定寬度 */
  position: absolute; /* 絕對定位 */
  left: 0; /* 固定在左側 */
  height: 100%; /* 佔滿高度 */
  z-index: 1000; /* 確保 sidebar 在其他元素上方 */
}

.collapsed {
  transform: translateX(0); /* 收起狀態 */
}

.expanded {
  transform: translateX(50px); /* 展開狀態，從左邊滑入並固定在右側 */
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: transform 0.3s ease; /* 添加滑動效果 */
}

.showContent {
  transform: translateX(0); /* 顯示內容區域 */
}

.hideContent {
  transform: translateX(-100%); /* 隱藏內容區域 */
}

.answerbox,
.imagebox {
  background-color: #ffffff;
  padding: 3rem;
  margin: 0 2rem;
  height: 50%;
}

.answerbox {
  overflow: auto;
}

.text {
  max-height: 100%;
}

.toggleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
}

.toggleButton:hover {
  background-color: #e0e0e0;
}
