.container {
  padding: 0 1rem 2rem 0rem;
  display: flex;
  flex-direction: column; /* 讓子元素垂直排列 */
  height: 100%;
  max-height: 100vh; /* 設定高度為視窗高度 */
  overflow: hidden; /* 防止滾動條出現 */
  /* gap:1rem; */
}

.parsebox {
  display: flex;
  align-items: center;
  gap: 1em;
}
h5{
  font-size: 15px;
  font-weight: 350;
}
.h4 {
  font-family: "Noto Sans";
  font-style: bold;
  font-weight: 400;
  font-size: large;
  line-height: 33px;
  color: #375bd3;
  margin: 0;
}

.topicbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  flex-grow: 1; /* 占據剩餘空間 */
  margin-bottom: 1rem; /* 底部留白 */
  padding: 1.5rem; /* 增加內邊距 */
  overflow-y: hidden; /* 只在垂直方向允许滚动 */
  box-sizing: border-box; /* 確保 padding 不會影響元素大小 */
  height: 100%;
  
}

.examplebox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  
}

.example {
  color: #375bd3;
  margin: 10px;
}

.infobox {
  display: flex;
  flex-direction: column;
}

.linkbox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.buttonStyle01{
  color: #9287ee;
  cursor: pointer;
  border: 1px solid #9287ee;
}
.buttonStyle02 {
  background-color: #9287ee;
  border: none;
  cursor: pointer;
}